*{
    box-sizing: border-box;
}
body{
    --background-color: white;
    --text-color: black;
    --element-color: white;
    margin: 0;
    font-family: Nunito, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}
body.dark{
    --background-color: hsl(207, 26%, 17%);
    --text-color: white;
    --element-color: hsl(209, 23%, 22%);
}
.title{
    font-weight: 800;
}
main{
    padding: 24px;
}
a{
    text-decoration-line: none;
    color: inherit;
}
.search-filter-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 30px;
}
.search-container{
    background-color: var(--element-color);
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    border-radius: 4px;
    padding-inline: 16px;
    color: #999;
}
.search-container input{
    background-color: inherit;
    border: none;
    outline: none;
    padding: 16px;
    color: inherit;
}
.search-container input::placeholder{
    color: #999;
}
.filter-by-region{
    background-color: var(--element-color);
    color: inherit;
    width: 250px;
    padding: 12px;
    border: none;
    outline: none;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.header-container{
    background-color: var(--element-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    padding-inline: 24px;
}
.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin-inline: auto;
}
.theme-changer{
    cursor: pointer;
}
.countries-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 1200px;
    margin-block: 50px;
    padding-block: 20px;
    margin-inline: auto;
}
.country-card{
    background-color: var(--element-color);
    display: inline-block;
    width: 250px;
    padding: 10px 20px;
    padding-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
    transition: all ease 0.5s;
}
.country-card:hover{
    transform: scale(1.03);
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.5);
}
.country-card img{
    width: 100%;
}
.card-text .card-title{
    font-size: 24px;
    margin-block: 16px;
}
.card-text p{
    margin-block: 5px;
}

@media (max-width: 810px) {
    .header-content .title{
        font-size: 16px;
    }
    .header-content p{
        font-size: 12px;
    }
    .search-filter-container{
        flex-direction: column;
        gap: 50px;
    }
    .search-container{
        width: 90%;
    }
}
@media (max-width: 597px) {
    .search-filter-container{
        margin-top: 20px;
        gap: 20px;
    }
   .country-card{
    width: 90%;
   }
}